<script>
function getCookie(name) {
    let cookieValue = null;

    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();

            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));

                break;
            }
        }
    }

    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

console.log(csrftoken);

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!--<form action="http://192.168.199.128:8181/api/univertest?auth=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmFtZSI6Imhha3ltb3ZhLnR5eXNodHlxIiwidXB3ZCI6IjA3NzdGMDk4MEIzMUE2MEZDRkVFQzlEQjNGOTFEOUI4RUVCQUU4NDQ0NjAwRTQ3MUQyMzEyQjYyNDA2MjVCNTZFM0Q0RDM5RDRBREYwMTg5N0QzQTEzMDkzRTcwRkU1NjRGMUJBRDZCOTIxMUE0NTAwODQxRDFFQzNFMkNGODcwIn0.QLCZHTM2ACm0byg77h0C7KpGwMxcxJuy-M96lQzc3Mk" method="post">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input style="display: none" id="csrf" type="text" name="csrf" value="{{ current_csrf }}">
    <input type="submit" value="OK">
</form>-->

<form action="http://192.168.199.128:8181/user_api/v1/account/login_session/" method="post">
    {% csrf_token %}
    <label for="email">email: </label>
    <input id="email" type="text" name="email" value="{{ current_name }}"> <br>
    <label for="password">password: </label>
    <input id="password" type="text" name="password" value="{{ current_csrf }}">
    <!--<input type="submit" value="OK">-->
</form>

<script>
	//document.getElementById("csrf").value = csrftoken;
</script>


    <form id="login-form">
            <input type="submit" class="btn btn-primary" value="Login" />
    <form>



<input id="univerauth" type="submit" class="btn btn-primary" value="Login via Univrer" />

<a href=></a>


<script>
	$( "#univerauth" ).click(function() {
        window.location.href = "https://univer.kaznu.kz/user/loginopenkaznu";
    });

    $("#login-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        var formData = {
           email: $("#email").val(),
           password: $("#password").val(),
           csrfmiddlewaretoken: '{{ csrf_token }}'
        };
        $.ajax({
            type: 'POST',
            //async: false,
            url: "http://192.168.199.128:8181/user_api/v1/account/login_session/",
           
            data: formData,
            dataType:"text",
            success: function (data, status, xhr) {
                // on successfull creating object

                window.location.href = "/";
            },
            error: function (data, status, xhr) {
                // alert the error if any error occured
                console.log(xhr.status);
                alert(xhr);
            }
        })
    })
</script>
