<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Analyze")}</%block>

<%block name="extrahead">

<div class="analyze">
    <h1>📊 Курсы</h1>

    <p>Всего курсов: <strong>${courses_count}</strong></p>

    <ul>
    % for course in courses:
        <li>
            <strong>${course.display_name}</strong><br/>
            <small>
                ${course.id}
                | org: ${course.org}
                | start: ${course.start}
            </small>
        </li>
    % endfor
    </ul>
</div>
</%block>
