<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Analyze")}</%block>

<%block name="extrahead">
<style>

</style>
</%block>

<div class="analyze-container">
    <div class="page-header">
        <h1>${_("Analyze")}</h1>
    </div>
    <div>
        <h2>📚 Список курсов</h2>

        <p>Всего курсов: <strong>${courses_count}</strong></p>

        <ul>
            % for course in courses:
            <li>
                <strong>${course.display_name}</strong><br/>
                <small>
                    ID: ${course.id}<br/>
                    org: ${course.org}<br/>
                    number: ${course.number}<br/>
                    start: ${course.start}<br/>
                    end: ${course.end}
                </small>
            </li>
            % endfor
        </ul>

    </div>
</div>

<%block name="extrajs">
<script>

</script>
</%block>
